<section class="card"> 
<div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aperiam consequatur harum sequi vitae perspiciatis.</p>
</div>


</section>
