<div class="jumbotron mt-4">
    <h1 class="display-4">VaquitasMongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus consequatur dolores repellendus ducimus, molestias quia.</p>
<hr class="my-4">
<p>Lorem ipsum dolor sit amet.</p>
<a href="http://www.youtube.com" class=btn btn-primary>Vaquitas</a>

</div>